
@{
    ViewData["Title"] = "Students";
}
@if (ViewBag.Message != null)
{
    <form asp-controller="Student" asp-action="Alert">
        <div class="alert alert-info" id="message" style="display:block">
            Alert: @ViewBag.Message
            <div class="bottom-left">
                <button id="Ok" type="submit" class="btn btn-primary" onclick="closeMessage()">OK</button>
            </div>
        </div>
    </form>
}
<div class="page-header">
    <h4>
        New Student:
    </h4>
</div>
<form asp-controller="Student" asp-action="SaveStudent" method="post">
    <div class="panel-body">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="FirstName">First Name:</label>
                <input name="FirstName" id="FirstName" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Surname">Surname:</label>
                <input name="Surname" id="Surname" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="EmailAddress">Email Address:</label>
                <input name="EmailAddress" id="EmailAddress" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="IDNumber">ID Number:</label>
                <input name="IDNumber" id="IDNumber" type="text" class="form-control" />
            </div>
        </div>
    </div>

    <div class="panel-body">
        <button id="submit" type="submit" class="btn">Save Student</button>
    </div>
</form>
<script>
    function closeMessage() {
        var x = document.getElementById("message");
        if (x.style.display === "none") {
            x.style.visibility = "block";
        } else {
            x.style.visibility = "block";
        }
    }
</script>